body {
  background-color: rgb(232, 251, 241);
}

h1 {
  color: black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: black;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 15px;
}

h5 {
  color: rgb(250, 75, 75);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-style: italic;
}

h4 {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/*BANDEAU */

.menu {
    display: flex;              /* met les éléments côte à côte */
    justify-content: center;    /* centre le menu */
    background-color: #ff3c5fda;     /* couleur du bandeau */
}

.bandeau {
    padding: 10px 25px;
}

.bandeau a {
    text-decoration: none;      /* enlève le soulignement */
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bandeau:hover {
    background-color: #f2a7b7b5;     /* effet au survol */
}

.bandeau a {
    display: block;
}

